@import "@fontsource-variable/geist";
@import "@fontsource-variable/geist-mono";
@import "tailwindcss";
@import "basecoat-css";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;
}

[data-ilha-slot] {
  display: contents;
}

.shiki {
  @apply p-4;
  /*background-color: rgba(250, 244, 237, 0.8) !important;*/
}

.container {
  @apply max-w-320;
}
